<!-- /*********************************************************************************
* WEB322 – Assignment 2
* I declare that this assignment is my own work in accordance with Seneca Academic Policy.
* No part of this assignment has been copied manually or electronically from any other source
* (including web sites) or distributed to other students.
*
* Name: Wei-Chih Kao Student ID: 15800190 Date: Sep. 30. 2021
*
* Online (Heroku) URL: https://lit-sands-34647.herokuapp.com
*
********************************************************************************/ -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LiveFit--homepage</title>
    <link rel='stylesheet' type='text/css' media='screen' href='/main.css'>
</head>
<body>

<!--header-->
    <header>
        <div class="navbar">
            <div class="container">
                <div class="logo">
                    <a href="/homepage" title="LiveFit"><img src="/livefit_logo.png"></a>
                </div>

<!--Navigation bar-->
                <ul class="menu">
                    <li>
                        <a href="/homepage">Home</a>
                    </li>
                    <li>
                        <a href="/mealpackage">Meals Package</a>
                    </li>
                    <li>
                        <a href="">Your Meals</a>
                    </li>
                    <li>
                        <a href="">Grocery</a>
                    </li>
                    <li>
                        <a href="">About Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </header>

<!-- hero section-->
        <section class="hero">
            <div class="hero-img">
                <img src="/hero_section.png">
            </div>
            <div class="words">
                <h1>
                    <P>Lorem ipsum dolor sit amet</P>
                    <p>Nunc at ultricies ante</p>
                </h1>
                <h2>
                    <p>Proin aliquet at lectus sed elementum.</p>
                    <p>Nam facilisis turpis eu</p>
                    <br>
                    <p>Phasellus magna lorem, laoreet</p>
                    <p>porta tellus et, porta congue lectus.</p>
                </h2>
            </div>
        </section>

<!-- content section-->
        <section class="content">
            <div class="header">No cooking,&nbsp just eating</div>
            <div class="box">
                <div class="block">
                    <div class="block-video">
                        <video autoplay muted loop src="/pick.mp4" id="vedio" height="160">
                    </div>
                    <div class="block-content">
                        <p class="--header">Pick</p>
                        <p class="--content">Morbi vitae scelerisque tellus</p>
                    </div>
                </div>
                <div class="block">
                    <div class="block-video">
                        <video autoplay muted loop src="/heat.mp4" id="vedio" height="160">
                    </div>
                    <div class="block-content">
                        <p class="--header">Heat</p>
                        <p class="--content">Ut eleifend fringilla</p>
                    </div>
                </div>
                <div class="block">
                    <div class="block-video">
                        <video autoplay muted loop src="/eat.mp4" id="vedio" height="160">
                    </div>
                    <div class="block-content">
                        <p class="--header">Eat</p>
                        <p class="--content">massa vel volutpat</p>
                    </div>
                </div>  
                <div class="block">
                    <div class="block-video">
                        <video autoplay muted loop src="/door.mp4" id="vedio" height="160">
                    </div>
                    <div class="block-content">
                        <p class="--header">Repeat</p>
                        <p class="--content">id bibendum.</p>
                    </div>
                </div>
            </div>
        </section>

<!-- top meal packages section-->
        <section class="package">
            <div class="header">Our chefs are making these right now!</div>
            <div class="-content">
                <p>Donec mattis, diam at fringilla varius, nisi eros fermentum tellus.</p>
                <p>interdum fermentum turpis odio ut orci. Pellentesque ut dui tellus.</p>
            </div>
            <div class="box">
                <div class="block">
                    <div class="block-img">
                        <img src="/001.jpg">
                    </div>
                    <div class="block-content">
                        <p class="--header">BBQ Beef with Rice</p>
                        <p class="--content">$15.95</p>
                    </div>
                </div>
                <div class="block">
                    <div class="block-img">
                        <img src="/002.jpg">
                    </div>
                    <div class="block-content">
                        <p class="--header">Italian Bolognese Penne</p>
                        <p class="--content">$10.00</p>
                    </div>
                </div>
                <div class="block">
                    <div class="block-img">
                        <img src="/003.png">
                    </div>
                    <div class="block-content">
                        <p class="--header">Broccoli Cheddar Soup</p>
                        <p class="--content">$8.75</p>
                    </div>
                </div>  
                <div class="block">
                    <div class="block-img">
                        <img src="/004.png">
                    </div>
                    <div class="block-content">
                        <p class="--header">KETO Garlic Butter Shrimp</p>
                        <p class="--content">$13.45</p>
                    </div>
                </div>
            </div>
        </section>

<!-- footer-->
    <hr style="border:none solid gray;">
    <footer class="footer">
        <div class="footer-box">
            <div class="footer-text">
            <div class="footer-text-header">About Livefit</div>
            <div class="footer-text-content">
                <a href="#">Affiliates</a>
                <a href="#">Gift Card</a>
                <a href="#">First Responders</a>
            </div>
            </div>
            <div class="footer-text">
            <div class="footer-text-header">Help & Support</div>
            <div class="footer-text-content">
                <a href="#">FAQ</a>
                <a href="#">Terms & Conditions</a>
                <a href="#">Contact Us</a>
            </div>
            </div>
            <div class="footer-text">
            <div class="footer-text-header">Our Menu</div>
            <div class="footer-text-content">
                <a href="#">All Journeys</a>
                <a href="#">Grocery</a>
            </div>
            </div>
        </div>

        <div class="footer-media">
            <hr style="border:none solid gray;">
            <div class="footer--">
                <div class="footer-right">© 2021 LiveFit North America Inc.</div>
                <div class="footer-link">
                    <a href="#">Facebook</a>
                    <a href="#">Instagram</a>
                    <a href="#">Twitter</a>
                </div>
            </div>
        </div>
        

    </footer>
</body>
</html>